<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>

<body>
<table border="1">
    <thead>
    <tr>
        <th>Day of payment</th>
        <th>Payment amount</th>
        <th>Interest amount</th>
        <th>Loan body</th>
        <th>Balance owed</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="e : ${list}">
        <td th:text="${e.workingDayOfPayment}"></td>
        <td th:text="${e.monthlyPaymentAmount}"></td>
        <td th:text="${e.interestAmountPerMonth}"></td>
        <td th:text="${e.loanBody}"></td>
        <td th:text="${e.balanceOwed}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>