<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<body>

<table>
    <tr>
        <th>Дата платежа TEST</th>
        <th>PRICE</th>
<!--        <th>IN STOCK</th>-->
    </tr>


        <th:block th:each="map : ${list}">
            <tr th:each="e : ${map}">
                <td th:text="${e.key}"></td>
                <td th:text="${e.value}"></td>
            </tr>
        </th:block>

<!--    <tr th:each="prod : ${prods}">-->

<!--        <td th:text="${prod.name}">Onions</td>-->
<!--        <td th:text="${prod.price}">2.41</td>-->
<!--        <td th:text="${prod.inStock}? #{true} : #{false}">yes</td>-->
<!--    </tr>-->

</table>


<!--<h3 style="text-align: center; color: green">-->
<!--    &lt;!&ndash;            <span th:text="'Welcome to ' + ${to} + '!'"></span>&ndash;&gt;-->
<!--    <span th:text="Welcome"></span>-->

<!--</h3>-->
</body>
</html>